<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.takeiteasy.trackin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

    <!--android:label="@string/app_name"-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AATrackin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.Maine"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Listenin"
            android:screenOrientation="portrait" />

        <service android:name=".Model.ListeninService" />



    </application>
</manifest>
